@import "../../styles/utils.scss";

.StyledSidebar {
  background-color: $color-grey-0;
  padding: 3.2rem 2.4rem;
  border-right: 1px solid $color-grey-100;

  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  .StyledLogo {
    text-align: center;

    .Img {
      height: 9.6rem;
      width: auto;
    }
  }

  .NavList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .StyledNavLink {
      &:link,
      &:visited {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        color: $color-grey-600;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1.2rem 2.4rem;
        transition: all 0.3s;
      }

      /* This works because react-router places the active class on the active NavLink */
      &:hover,
      &:active,
      &.active:link,
      &.active:visited {
        color: $color-grey-800;
        background-color: $color-grey-50;
        border-radius: $border-radius-sm;
      }

      & svg {
        width: 2.4rem;
        height: 2.4rem;
        color: $color-grey-400;
        transition: all 0.3s;
      }

      &:hover svg,
      &:active svg,
      &.active:link svg,
      &.active:visited svg {
        color: $color-brand-600;
      }
    }
  }
}
